Hello, <%=first_name%>! What color are your eyes?

<form method = "post" action = "/eye_color">
	<input type = "text" name = "eye_color">
	<input type = "hidden" name = "user_name" value = <%=user_name%>>
	<input type = "hidden" name = "password" value = <%=password%>>
	<input type = "hidden" name = "first_name" value = <%=first_name%>>
	<input type = "hidden" name = "last_name" value = <%=last_name%>>
	<input type = "hidden" name = "age" value = <%=age%>>
	<input type = "hidden" name = "hair_color" value = <%=hair_color%>>
	<input type = "submit">
</form>